<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="William" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="FromEmail" value="email@gmail.com"/>

    <add key="GamesAPIEndpoint" value="https://statsapi.web.nhl.com/api/v1/schedule?date={0}"/>
    <add key="TeamStatsAPIEndpoint" value="https://statsapi.web.nhl.com/api/v1/teams/{0}/stats?season=20222023"/>
    
  </appSettings>
  <William>
    <add key="Name" value="William"/>
    <add key="Email" value="email@gmail.com"/>
    <add key="SendGameAlert" value=""/>
    <add key="SendGameResult" value=""/>
    
    <!--Start Comma Delimited-->
    <add key="Teams" value="New Jersey Devils, Seattle Kraken"/>
    <!--End Comma Delimited-->
  </William>
</configuration>